<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="<%= root_path %>">Word_Count_App</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link <% if current_page?(root_path) %><%= 'active' %><% end %>" href="<%= root_path %>">Welcome</a>
      <a class="nav-item nav-link <% if current_page?(graph_path) %><%= 'active' %><% end %>" href="<%= graph_path %>">Graph</a>
    </div>
  </div>
</nav>